// Font 'Jacquarda Bastarda 9 Charted' from Google Fonts https://fonts.google.com/specimen/Jacquarda+Bastarda+9+Charted
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9+Charted&display=swap');
// Font 'Rubik' from Google Fonts https://fonts.google.com/specimen/Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

font-jac-bas-9()
	font-family "Jacquarda Bastarda 9 Charted", serif

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900
font-rubik()
	font-family "Rubik", sans-serif
	font-optical-sizing: auto
	// font-weight: <weight>
	// font-style: normal

font-basic()
	font-family "Rubik", "Arial", sans-serif

html
	font-basic()
